#bienvenida{
	background-color: black;
}

.frase{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#menu li, #derechos, #suscribirse{
	margin-left: auto;
	margin-right: auto;
	font-size: 2em;
}

#derechos, #suscribirse {
	width: 80%;
	text-align: center;
}

#suscribirse label {
	width: 70%;
	font-size: 1.3em;
}